<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <% include partials/head %>
    </head>

    <body class="container">

        <header>
            <% include partials/header %>
        </header>

        <main>

            <div class="jumbotron">

                <h1>
                    RESULT
                </h1>
                <p>boxes: the main body of the boxplot showing the quartiles and the median's confidence intervals if enabled.<br>
                    whiskers: the vertical lines extending to the most extreme, non-outlier data points.<br>
                    caps: the horizontal lines at the ends of the whiskers.<br>
                    fliers: points representing data that extend beyond the whiskers (fliers).<br>
                    means: points or lines representing the means.</p>
                <p><%= result %></p>
            </div>

        </main>

        <footer>
            <% include partials/footer %>
        </footer>
        
    </body>

</html>